# Dependency directories
node_modules/
react-app/node_modules/

# Production build outputs
dist/
dist-ssr/
react-app/dist/
react-app/dist-ssr/

# Local env configs and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
react-app/.env
react-app/.env.local
react-app/.env.development.local
react-app/.env.test.local
react-app/.env.production.local

# Logs and cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.eslintcache

# Editor and System files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
